header{
    background-color: white;
    font-family: papyrus;
    color: gray;
    text-align: center;    
}
body{
    background-color: black;
    text-align: center;
    color: lightgrey;}

.invisible{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu{
    display: flex;
    gap: 20px;
    justify-content: center;
}