body{
    margin: 0px;
}
.container{
    flex-wrap: wrap;
}
.titulo{
    text-align: center;
    background-color: RGB(1, 100, 217);
    color: red;
    padding: 5%;
}
h3{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 0.4;
}
.colunas{
    width: 23%;
}