body{
    background-color: black;
    color: white;;
}border-collapse
table, tr, td, th{
    border: 1px solid white;
}

table, tr, td, th{
    border-collapse: collapse;
}

table, tr, td, th{
    border-style: dashed;

}

table{
    width: 100%;
}
tr{
    height: 50px
}
th{
    background-color: red;
}
th,td{
    padding: 20px;
    padding-top: 60px;
}
.tabela2{
    border-style: groove;
    border-color: cyan;
}