.container{
background-color: white;
gap: 20px;
justify-content: center;
display: flex;
flex-wrap: wrap;
}
table, tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
.feriado{
    background-color: greenyellow;
}