/* CSS é utilizado para realizar modificações e estilização dos elementos do nosso HTML*/

h1{
    font-size: xx-large;
    color: red;
}

p{
    text-align: center;
}

/*Ao utilizar o css temos a propiedade e o valor, color: red; - color é a propiedade e red o valor, e sempre encerramos com ponto e virgula ; */


/*Seletores*
/* seletores são utilizados para "encontrar" ou selecionar os elementos HTML que queremos estilizar*/
/* quando queremos estilizar algum elemento do HTML usamos o seletor no css, no caso, se queremos editar algum paragrafo podemos chamar o p{ } dentro do css e realizar a akteração que queremos ou precisamos*/

.titulo{
    font-size: 20px;
    background-color: peru;
}
/*Quando usamos .nome_seletor estamos usando um seletor que chama uma classe dentro do meu HTML*/
/*class podemos usar em diversos elementos*/
#primeiro_texto{
    color: purple;
    background-color: gray;
}
/*Quando usamos # estamos usando um seletor que chama um id dentro do meu html*/
/* id usamos apenas um por elemento*/
div{
    background-color: cornflowerblue;
    border: 1px solid black;
}

div.h3_textos{
    background-color: chartreuse;
    opacity: 0.6;
}
/* quando chamamos uma div.h3_texto vamos alterar apenas as divs que tenham class h3_texto, outros elementos que não forem div e tiverem a class h3_texto não sofrem alterações*/

*{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
}

/* o "*" é  um seletor universal, ou seja, quando estilizo usando ele, vai ser aplicado estilo em todos os elementos*/

h1, h2, h3{
    font-family: Papyrus;
    font-size: 40px;
}
/*para usar seletores  de forma agrupada, eu chamo eles e separo por virgula, assim consigo usar varios seletores para a mesma alteração*/
.margem{
    margin: 80px 40px 20px 10px;
}
/*usando os elementos de margem temos 4 tipos, margin-top, margin-right, margin-bottom, margin-left
quando utilizo margin:30px; estou aplicanndo a margem em todos os sentidos, top, right, bottom, left
margin: auto; ocupa a margem do elemento pai
quando uso  margin: 50px; o primeiro valor é referente a top e bottom e o segundo é referente a right e left
quando uso  margin: 50px 20px 10px; o primeiro valor é referente a top e o segundo é referente a right e left e o terceiro é referido ao bottom
quando uso  margin: 80px 40px 20px 10px; o primeiro valor é referente a top, o segundo é referente a right, o terceiro é referente a bottom e o quarto referente a left*/